<h1>Graph editor</h1>

<div id="flex">
  <ul class ="inner">

     <li><button (click)="pridajVrchol()">VERTEX</button></li>
    <li><button (click)="addMultipol5()" hidden>MULTIPOL5</button></li>
      <li><button (click)="addMultipol4()" hidden>MULTIPOL4</button></li>
      <li><button (click)="addMultipol3()" hidden>MULTIPOL3</button></li>
       <li><button (click)="addMultipol2()" hidden>MULTIPOL2</button></li>
    <li><button id="vypocitaj" hidden>VYPOCITAJ</button></li>
    <li><button (click)="vypisVrcholy()" hidden>VYPIS VRCHOLY</button></li>
    <li><button (click)="vypisHrany()" hidden>VYPIS HRANY</button></li>
    <li><button (click)="vypis_multipoly()" hidden>VYPIS MULTIPOLY</button></li>
    <li><button (click)="calculate()">SEND GRAPH</button></li>
    <li><button (click)="skusam_get()" hidden>skusam_get</button></li>
    <li><button (click)="skusam_post()" hidden>skusam_post</button></li>
    <li><button (click)="zmaz_vsetko()" hidden>DELETE ALL</button></li>
    <li><button [disabled]="disableGet" (click)="get_multipoles_fake()">GET MULTIPOLES</button></li>
    <li><button class="multipoly" (click)="add_multipol(0)" [hidden]="hideMultipoly[0]">{{menoMultipolov[0]}}</button></li>
    <li><button class="multipoly" (click)="add_multipol(1)" [hidden]="hideMultipoly[1]">{{menoMultipolov[1]}}</button></li>
    <li><button class="multipoly" (click)="add_multipol(2)" [hidden]="hideMultipoly[2]">{{menoMultipolov[2]}}</button></li>
    <li><button class="multipoly" (click)="add_multipol(3)" [hidden]="hideMultipoly[3]">{{menoMultipolov[3]}}</button></li>
    <li><button class="multipoly" (click)="add_multipol(4)" [hidden]="hideMultipoly[4]">{{menoMultipolov[4]}}</button></li>
    <li><button (click)="undoMetoda()" [disabled]="disableUndo" >UNDO</button></li>
    <li><button (click)="redoMetoda()" [disabled]="disableRedo.redo">REDO</button></li>


   </ul>
   <canvas width="1600" height="800" id="myCanvas"></canvas>
 </div>

